CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*/.deps/
*/*/.deps/
config.h
config.log
config.status
stamp-h1

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

src/openlitespeed
